{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Dashboard</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt=""
                            style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Sanket Dawange</h6>
                        <span>Driver</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="index.html" class="nav-item nav-link active"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-md-flex ms-4">
                    <label class="text-white form-control border-0 comfort-label comfort-moderate" style="display:none; background-color: rgba(0, 0, 255, 0.5);">
                        <i class="fas fa-smile"></i> Comfort : Moderate
                    </label>
                    <label class="text-white form-control border-0 comfort-label comfort-high" style="display:none; background-color: rgba(10, 157, 10, 0.5);">
                        <i class="fas fa-grin-beam"></i> Comfort: High
                    </label>
                    <label class="text-white form-control border-0 comfort-label comfort-low" style="display:none; background-color: rgba(255, 106, 0, 0.5);">
                        <i class="fas fa-frown"></i> Comfort: Low
                    </label>
                </form>
                <form style="margin-left:1%">
                    <label class="text-white form-control border-0 gas-label gas-smoke" style="display:none; background-color: rgba(100, 87, 87, 0.5);">
                        <i class="fas fa-wind"></i> Gas : Smoke
                    </label>
                    <label class="text-white form-control border-0 gas-label gas-yes" style="display:none; background-color: rgba(255, 115, 0, 0.5);">
                        <i class="fas fa-wind"></i> Gas : Yes
                    </label>
                    <label class="text-white form-control border-0 gas-label gas-no" style="display:none; background-color: rgba(13, 115, 25, 0.5);">
                        <i class="fas fa-wind"></i> Gas : No
                    </label>
                    <label class="text-white form-control border-0 gas-label gas-perfume" style="display:none; background-color: rgba(0, 81, 255, 0.5);">
                        <i class="fas fa-wind"></i> Gas : Perfume
                    </label>
                </form>                
                
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <i class="fa fa-lightbulb text-warning me-2"></i>
                                <h6 class="fw-normal mb-0">Headlight is off</h6>
                                <small>Check and turn on your headlight</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <i class="fa fa-exclamation-triangle text-danger me-2"></i>
                                <h6 class="fw-normal mb-0">Indicator is on</h6>
                                <small>Turn off the indicator when not needed</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <i class="fa fa-thermometer-full text-danger me-2"></i>
                                <h6 class="fw-normal mb-0">Engine temperature is rising</h6>
                                <small>Cool down your engine to prevent overheating</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <i class="fa fa-fire text-danger me-2"></i>
                                <h6 class="fw-normal mb-0">Tire temperature is high</h6>
                                <small>Check and cool down your tires</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="{% static 'img/user.jpg' %}" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Sanket Dawange</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div style="width: 50%; float: left;">
                        <canvas id="humidityChart"></canvas>
                    </div>
                    <div style="width: 50%; float: left;">
                        <canvas id="temperatureChart"></canvas>
                    </div>
                    <div style="width: 50%; float: left;">
                        <canvas id="gasChart"></canvas>
                    </div>
                </div>
            </div>

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start"> <a href="#"></a>
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
</body>
<!-- JavaScript Libraries -->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/chart/chart.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
<script>
    function updateGasLabel(gasLevel) {
        document.querySelectorAll('.gas-label').forEach(function(label) {
            label.style.display = 'none';
        });

        if (gasLevel === 'Smoke') {
            document.querySelector('.gas-smoke').style.display = 'block';
        } else if (gasLevel === 'Gas') {
            document.querySelector('.gas-yes').style.display = 'block';
        } else if (gasLevel === 'NoGas') {
            document.querySelector('.gas-no').style.display = 'block';
        } else if (gasLevel === 'Perfume') {
            document.querySelector('.gas-perfume').style.display = 'block';
        }
    }
    function updateComfortLabel(comfortLevel) {
        document.querySelectorAll('.comfort-label').forEach(function(label) {
            label.style.display = 'none';
        });

        if (comfortLevel === 'Moderate') {
            document.querySelector('.comfort-moderate').style.display = 'block';
        } else if (comfortLevel === 'High') {
            document.querySelector('.comfort-high').style.display = 'block';
        } else if (comfortLevel === 'Low') {
            document.querySelector('.comfort-low').style.display = 'block';
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize data arrays
        var humidityData = Array.from({ length: 11 }, () => null);
        var temperatureData = Array.from({ length: 11 }, () => null);
        var gasData = Array.from({ length: 11 }, () => null);
        var labels = Array.from({ length: 11 }, (_, index) => (10 - index).toString());

        // Create Humidity Chart
        var humidityChartCtx = document.getElementById('humidityChart').getContext('2d');
        var humidityChart = new Chart(humidityChartCtx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Humidity',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    data: humidityData,
                }]
            },
            options: {
                scales: {
                    x: { type: 'category', position: 'bottom' },
                    y: { min: 10, max: 150 }
                }
            }
        });

        var gasChartCtx = document.getElementById('gasChart').getContext('2d');
        var gasChart = new Chart(gasChartCtx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Gas',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    data: gasData,
                }]
            },
            options: {
                scales: {
                    x: { type: 'category', position: 'bottom' },
                    y: { min: 10, max: 1000 }
                }
            }
        });

        // Create Temperature Chart
        var temperatureChartCtx = document.getElementById('temperatureChart').getContext('2d');
        var temperatureChart = new Chart(temperatureChartCtx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Temperature',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    data: temperatureData,
                }]
            },
            options: {
                scales: {
                    x: { type: 'category', position: 'bottom' },
                    y: { min: 0, max: 100 }
                }
            }
        });

        // Fetch data and update charts every second
        function fetchDataAndUpdateCharts() {

            $.ajax({
                url: '/get_data',
                type: 'GET',
                success: function (response) {

                    if (response.status === 'success') {
                        var humidityValue = response.humidity
                        var temperatureValue = response.temp
                        var gas_concentration = response.gas_concentration

                        humidityData.shift();
                        temperatureData.shift();
                        gasData.shift();
                        humidityData.push(humidityValue);
                        temperatureData.push(temperatureValue);
                        gasData.push(gas_concentration);

                        // Update chart data and redraw
                        humidityChart.data.datasets[0].data = humidityData;
                        temperatureChart.data.datasets[0].data = temperatureData;
                        gasChart.data.datasets[0].data = gasData;
                        humidityChart.update();
                        temperatureChart.update();
                        gasChart.update();

                        // Update comfort status and gas
                        updateComfortLabel(response.predicted_comfort_level);
                        updateGasLabel(response.predicted_gas)
                    } else {
        
                        var humidityValue = 0
                        var temperatureValue = 0
                        console.log("ERROR: "+response.message)
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });

        }

        fetchDataAndUpdateCharts();
        // Set interval based on your requirement (e.g., every second)
        setInterval(fetchDataAndUpdateCharts, 2000);
    });
</script>

</html>